doctype html
html(lang="en", ng-app="marabit")
	head
		title= Marabit
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js')
		script(type='text/javascript', src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
		script(type='text/javascript', src="../scripts/controllers/races_controller.js")
	body
		h1 Marabit
		.races(ng-controller="RacesCtrl")
			ul
				li(ng-repeat="race in races")
					{{race.name}}